main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
}


h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 8em;
  color: rgb(255,69,0);
  text-align: center;
  text-decoration: none;
  margin: 0px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  color: rgb(255,69,0);
  text-align: center;
  text-decoration: none;
  margin: 0px;
}

.loginButton {
  color: white;
  background-color: hsl(16, 100%, 50%);
  padding: 10px 20px;
  border: 1px solid #DAE1E7;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  margin-top: 50px;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 0.5em;
}